body {
  background: #333333 url('http://s0.wp.com/home.logged-out/images/pic-d.jpg?1');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  /*background: #999;*/

  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
pre,
code,
kbd,
tt,
var {
  font: 12px/20px Consolas, Monaco, Lucida Console, monospace;
}
pre {
  margin-bottom: 20px;
  padding: 15px 20px;
  background: #f5f5f5;
  overflow: auto;
  max-width: 100%;
}
a {
  color: #117bb8;
}
a:visited {
  color: #117bb8;
}
a:active {
  color: #117bb8;
}
a:hover {
  color: #3a3a3a;
}
#page {
  background: white;
  width: 1020px;
  margin: 40px auto;
}
#colophon {
  clear: both;
}
.site-header hgroup {
  padding: 50px 40px;
}
.site-title {
  font-size: 34px;
  line-height: 34px;
}
.site-title a {
  text-decoration: none;
  color: #3a3a3a;
}
.site-title a:hover {
  color: #117bb8;
}
.site-description {
  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
}
.main-navigation {
  background: #3a3a3a;
}
.main-navigation ul {
  margin: 0 30px;
}
.main-navigation a {
  color: white;
  padding: 10px;
  position: relative;
  background: #3a3a3a;
}
.main-navigation a:hover {
  background: #474747;
}
.main-navigation ul > .current_page_item a,
.main-navigation ul > .current-menu-item a,
.main-navigation ul > .current-post-ancestor a,
.main-navigation ul > .current-menu-parent a,
.main-navigation ul > .current-post-parent a {
  background: #117bb8;
}
.main-navigation ul > .current_page_item ~ .current_page_item a,
.main-navigation ul > .current-menu-item ~ .current-menu-item a,
.main-navigation ul > .current-post-ancestor ~ .current-post-ancestor a,
.main-navigation ul > .current-menu-parent ~ .current-menu-parent a,
.main-navigation ul > .current-post-parent ~ .current-post-parent a {
  background: #3a3a3a;
}
.main-navigation ul > .current_page_item ~ .current_page_item a:hover,
.main-navigation ul > .current-menu-item ~ .current-menu-item a:hover,
.main-navigation ul > .current-post-ancestor ~ .current-post-ancestor a:hover,
.main-navigation ul > .current-menu-parent ~ .current-menu-parent a:hover,
.main-navigation ul > .current-post-parent ~ .current-post-parent a:hover {
  background: #474747;
}
.main-navigation ul > .current_page_item a:after,
.main-navigation ul > .current-menu-item a:after,
.main-navigation ul > .current-post-ancestor a:after,
.main-navigation ul > .current-menu-parent a:after,
.main-navigation ul > .current-post-parent a:after {
  content: '';
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  border-top: 6px solid #117bb8;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
}
.main-navigation ul > .current_page_item ~ .current_page_item a:after,
.main-navigation ul > .current-menu-item ~ .current-menu-item a:after,
.main-navigation ul > .current-post-ancestor ~ .current-post-ancestor a:after,
.main-navigation ul > .current-menu-parent ~ .current-menu-parent a:after,
.main-navigation ul > .current-post-parent ~ .current-post-parent a:after {
  content: '';
  border: none;
}
#primary {
  float: left;
  width: 740px;
  margin-right: 10px;
}
.site-intro {
  float: left;
  width: 940px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background: #ffffff url('images/absurdidad.png') 0 0 repeat;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 20px;
  line-height: 28px;
}
.featured-content {
  float: left;
  width: 1020px;
}
.featured-content-secondary {
  float: left;
  width: 960px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
#secondary {
  float: right;
  width: 260px;
  margin-left: 10px;
}
h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", serif;
}
.site-content .entry-content h1 {
  font-size: 34px;
}
.site-content .entry-content h2 {
  font-size: 20px;
  line-height: 28px;
}
.site-content .entry-content h3 {
  font-size: 16px;
  line-height: 18px;
  color: #606060;
}
.site-content .entry-content h1,
.site-content .entry-content h2,
.site-content .entry-content h3 {
  margin-bottom: 10px;
  margin-top: 40px;
}
.entry-title a {
  text-decoration: none;
}
.single .site-content .entry-title {
  font-size: 44px;
  line-height: 54px;
}
.site-content article {
  border-bottom: solid 1px #dddddd;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.site-content .entry-title {
  font-size: 20px;
  line-height: 28px;
}
.site-content .entry-title a {
  color: #3a3a3a;
}
.site-content .entry-title a:hover {
  color: #117bb8;
}
.site-content .entry-meta {
  font-size: 11px;
  line-height: 15px;
  color: #aaaaaa;
}
.site-content .entry-meta a {
  color: #aaaaaa;
  text-decoration: none;
}
.site-content .entry-meta a:hover {
  color: #117bb8;
}
.blog .site-content .has-post-thumbnail .entry-thumbnail,
.archive .site-content .has-post-thumbnail .entry-thumbnail {
  float: left;
}
.blog .site-content .has-post-thumbnail .entry-thumbnail img,
.archive .site-content .has-post-thumbnail .entry-thumbnail img {
  float: left;
}
.blog .site-content .has-post-thumbnail .entry-title,
.archive .site-content .has-post-thumbnail .entry-title {
  clear: none;
  margin-top: -5px;
}
.blog .site-content .has-post-thumbnail .entry-meta,
.archive .site-content .has-post-thumbnail .entry-meta {
  clear: none;
}
.blog .site-content .has-post-thumbnail .entry-meta:after,
.archive .site-content .has-post-thumbnail .entry-meta:after {
  display: table;
  content: '';
  line-height: 0;
  clear: both;
}
.blog .site-content .has-post-thumbnail .entry-header,
.archive .site-content .has-post-thumbnail .entry-header,
.blog .site-content .has-post-thumbnail .entry-summary,
.archive .site-content .has-post-thumbnail .entry-summary,
.blog .site-content .has-post-thumbnail .entry-meta,
.archive .site-content .has-post-thumbnail .entry-meta {
  margin-left: 240px;
}
.featured-content article {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: solid 1px #dddddd;
}
.featured-content .entry-title {
  font-size: 20px;
  line-height: 28px;
}
.featured-content .entry-title a {
  color: #3a3a3a;
}
.featured-content .entry-title a:hover {
  color: #117bb8;
}
.featured-content .has-post-thumbnail .entry-thumbnail,
.featured-content .has-post-thumbnail .entry-thumbnail img {
  float: left;
}
.featured-content .has-post-thumbnail .entry-title {
  clear: none;
  margin-top: -5px;
}
.featured-content .has-post-thumbnail .entry-header,
.featured-content .has-post-thumbnail .entry-summary,
.featured-content .has-post-thumbnail .entry-meta {
  margin-left: 480px;
}
.featured-content .has-post-thumbnail .entry-summary:after {
  display: table;
  content: '';
  line-height: 0;
  clear: both;
}
.featured-content-secondary {
  margin-top: -1px;
  /* cover the bottom border of the main featured content area */

  background: #ffffff url('images/absurdidad.png') 0 0 repeat;
}
.featured-content-secondary article {
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  float: left;
}
.featured-content-secondary .entry-thumbnail {
  margin-bottom: 20px;
}
.featured-content-secondary .entry-title {
  font-size: 20px;
  line-height: 28px;
}
.featured-content-secondary .entry-title a {
  color: #3a3a3a;
}
.featured-content-secondary .entry-title a:hover {
  color: #117bb8;
}
article:hover .entry-thumbnail img {
  opacity: 0.9;
}
article:hover .entry-title a {
  color: #117bb8;
}
.entry-thumbnail {
  position: relative;
}
.entry-thumbnail img {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.entry-thumbnail-category {
  position: absolute;
  left: -6px;
  top: 8px;
  background: #3a3a3a;
  padding: 2px 8px;
  font-size: 8px;
  text-transform: uppercase;
  color: #777;
}
.entry-thumbnail-category:hover {
  background: #117bb8;
}
.entry-thumbnail-category:hover:before {
  border-top: 6px solid #0d5c89;
}
.entry-thumbnail-category a {
  color: white;
}
.entry-thumbnail-category:before {
  content: '';
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  border-top: 6px solid #212121;
  border-left: 6px solid transparent;
  position: absolute;
  left: 0px;
  top: 24px;
}
.widget-area {
  padding-top: 41px;
}
.widget-area .widget {
  margin-bottom: 40px;
  margin-right: 40px;
}
.widget-area .widget-title {
  font-size: 16px;
  margin-bottom: 20px;
}
.button-primary,
a.button-primary {
  background: #117bb8;
  color: white;
  text-decoration: none;
  padding: 10px;
}
.button-primary:hover,
a.button-primary:hover {
  background: #138bcf;
}
